<html>

    <head>

        <title>Topway</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_html.css')}}">
        <meta name="viewport" content="width=device-width,initial-scale=1">

    </head>

    <body>
        <div class="header">

            <h1>Top Way</h1>
        </div> 
        <p><a href="{{url_for('register')}}">My first paragraph.</a></p>
              
        <p>Username</p>
        
        <form action="/" method="POST"> 

        <input type="text" id="uname" name="uname">

        <p>Password</p>

        <input type="text" id="upass" name="upass">

        <input type="submit" value="Log in">

        </form>
        
        <p>{{texto}}</p>

        <form action="/register"> 
    
            <input type="submit" value="Sign up">

        </form>



    </body>
</html>