<html>

<head>

<title>Topway</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/base_html.css')}}">

<meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>

  <div class="header">
    <nav class="navbar  navbar-expand-lg" id="heading">
                  <a class="navbar-brand">Topway</a>

                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Log out</a>
                    </li>
                  </ul>
    </nav>
                
  <div class="container">
    <div class="col-8">

        <p>Before we start we'd like to know some more information about yourself</p>
        
        <form action="/get_information" method="POST"> 

        <p>What is your name</p>

        <label for="Name">Name:</label>

        <input type="text" id="name" name="name">

        <p>What is your last name</p>

        <label for="lname">Lastname:</label>

        <input type="text" id="lname" name="lname">

        <p>What is your birthday</p>

        <label for="birthday">Birthday:</label>

        <input type="date" id="birthday" name="birthday" value="">

        <p>What is your geneder</p>

                <input type="radio" id="man" name="gender" value="Man" checked>
                <label for="man">Man</label>

                <input type="radio" id="woman" name="gender" value="Woman">
                <label for="woman">Woman</label>

                <input type="radio" id="other" name="gender" value="Other">
                <label for="other">Other</label>        

        <input type="submit" value="submit">

        </form>
    </div>
  </div>
        
        <p style="color: red">{{fail_reason}}</p>

</body>
</html>