<html>

<head>

<title>Topway</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/base_html.css')}}">

<meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>


    <div class="header">
        <nav class="navbar  navbar-expand-lg" id="heading">
          <a class="navbar-brand">Topway</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/main_page">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/friends">Friends</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/messages">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
          </ul>
        </nav>

    </div>
        <div class="container" id="profile">
          <div class="row" id="user">
            
            <div class="col-12">

              <h1>Profile of {{user}}</h1>

            </div>

          </div>

          <div class="row" id="full_name">
            
            <div class="col-12">

              <h3>Full name: {{first_name}} {{last_name}}</h3>

            </div>

          </div>

          <div class="row" id="Birtday">
            
            <div class="col-12">

              <h3>Birthday: {{Birtday}}</h3>

            </div>

          </div>

          <div class="row" id="Sex">
            
            <div class="col-12">

              <h3>Sex: {{Sex}} </h3>

            </div>

          </div>
            
          
        </div>


</body>
</html>