#heading {
    background-color: rgb(0, 0, 252);
    margin-bottom: 2%;
}

a {
    color: black;
}

.header a:hover{
    color: aliceblue;
}

.header .navbar-brand{
    margin-left: 2%;
    margin-right: 5%;

    font-size: 40px;

    color: aliceblue;

    font-family: 'Courier New', Courier, monospace;
}

.header .navbar-brand:hover{
    margin-left: 2%;
    margin-right: 5%;

    font-size: 40px;

    color: aliceblue;

    font-family: 'Courier New', Courier, monospace;
}

/**  Css for basic page **/


#userpass p {
    margin-bottom: 3%;
    margin-top: 4%;
}


/** CSS for register page **/



/** CSS for friends page **/

#friend_list{
    margin-bottom: 5%;
}

#friend_list a{
    margin-bottom: 3%;
    font-size: 30px;
}

#friend_list a:hover{
    margin-bottom: 3%;

    text-decoration: None;

    font-size: 30px;

    color:  rgb(0, 0, 252);
}

#friend_list input{
    margin-top: 18%;
    margin-left: 150%;
}

#friend_list #friend_request_submit{
    margin-top: 3%;
    margin-left: 2%;
}

#request_list input{
    margin-top: 18%;
    margin-left: 150%;
}



#request_list a{
    margin-bottom: 3%;
    font-size: 30px;
}

#request_list a:hover{
    margin-bottom: 3%;

    text-decoration: None;

    font-size: 30px;

    color:  rgb(0, 0, 252);
}


#find_name {
    margin-top: 3%;
    width: 30%;

    margin-right: 1%;

}

/** CSS for message pages**/

#messag {
    
}

